<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container" ng-app="ui.bootstrap.demo" ng-controller="ModalDemoCtrl">
    <div class="row">
      <div class="col-md-12 form-group">
        <h3>Call function after confirmed</h3>
        <a class="btn btn-primary" ng-confirm ng-click="callme()">Remove</a>
      </div>
      <div class="col-md-12 form-group">
        <h3>Modal window with custom text</h3>
        <a class="btn btn-primary" 
          ng-confirm-title="Custom Title"
          ng-confirm="Custom delete dialogue"
          ng-confirm-type="info"
          ng-confirm-button="remove"
        ng-click="callme()">Custom Confirm</a>
      </div>
    </div>
  </div>
  <script src="./js/angular.min.js"></script>
  <script src="./js/ui-bootstrap-tpls.min.js"></script>
  <script src="./js/ngconfirm.js"></script>
  <script src="./js/core.js"></script>
</body>
</html>